* {
  margin: 0;
  padding: 0; }

html, body {
  background-color: #232835; }

.svg-container {
  position: relative;
  overflow: hidden;
  background-color: #282E3C;
  width: 100%;
  height: 100%; }
  .svg-container .svg-view, .svg-container .data-zoom-view {
    padding: 10px;
    box-sizing: border-box;
    overflow: visible;
    vertical-align: top; }
  .svg-container .data-zoom-view {
    padding-top: 0; }
  .svg-container .axis-line, .svg-container .grid-line {
    stroke: #353D52; }
  .svg-container .text-div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 120px;
    display: inline-block; }
  .svg-container .x-axis-text {
    font-size: 10px;
    text-anchor: middle;
    text-align: center;
    fill: #8691AD;
    color: #8691AD;
    line-height: 11px; }
  .svg-container .y-left-axis-text {
    font-size: 10px;
    text-anchor: end;
    text-align: right;
    fill: #8691AD;
    color: #8691AD;
    line-height: 11px; }
  .svg-container .y-right-axis-text {
    font-size: 10px;
    text-anchor: start;
    text-align: left;
    fill: #8691AD;
    color: #8691AD;
    line-height: 11px; }
  .svg-container .text-left {
    text-anchor: start;
    text-align: left; }
  .svg-container .text-right {
    text-anchor: end;
    text-align: right; }
  .svg-container .line-circle {
    fill: #fff;
    stroke: #22C3F7; }
  .svg-container .top-opacity {
    fill: #fff;
    opacity: 0.4; }
  .svg-container .top-point {
    fill: #fff; }
  .svg-container .top-arrow-left,
  .svg-container .top-arrow-right {
    fill: #FF5E76; }
  .svg-container .top-rect {
    fill: #FF5E76;
    stroke: #FF5E76; }
  .svg-container .top-text-y, .svg-container .top-text-x {
    fill: #fff;
    font-size: 12px; }
  .svg-container .top-info-flip .top-rect,
  .svg-container .top-info-flip g {
    transform: translate(-155px, 0); }
  .svg-container .top-info-flip .top-arrow-left,
  .svg-container .top-info-flip .top-arrow-right {
    transform: translate(-149px, 0); }
  .svg-container .point-pinch {
    cursor: pointer;
    transition: r 0.2s ease;
    -moz-transition: r 0.2s ease;
    -webkit-transition: r 0.2s ease;
    -o-transition: r 0.2s ease; }
  .svg-container .line-hover-cursor {
    fill: #B6CCE4;
    opacity: 0.4;
    transform: translate(-0.5px, 0);
    transition: x 0.2s ease, y 0.2s ease;
    -moz-transition: x 0.2s ease, y 0.2s ease;
    -webkit-transition: x 0.2s ease, y 0.2s ease;
    -o-transition: x 0.2s ease, y 0.2s ease;
    pointer-events: none; }
  .svg-container .chart-cursor {
    fill: #FB435F;
    opacity: 0.6;
    pointer-events: none; }
  .svg-container .hover-cursor {
    fill: #B6CCE4;
    opacity: 0.4;
    transition: x 0.2s ease, y 0.2s ease;
    -moz-transition: x 0.2s ease, y 0.2s ease;
    -webkit-transition: x 0.2s ease, y 0.2s ease;
    -o-transition: x 0.2s ease, y 0.2s ease;
    pointer-events: none; }
  .svg-container .hover-text {
    position: absolute;
    top: 40%;
    left: 40%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    white-space: nowrap;
    pointer-events: none;
    font-size: 12px;
    z-index: 999; }
    .svg-container .hover-text p {
      line-height: 15px; }
      .svg-container .hover-text p i {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        margin-right: 5px; }
  .svg-container .dash {
    stroke-dasharray: 5, 5; }
  .svg-container .data-zoom-border {
    stroke: #22C3F7;
    stroke-width: 1;
    fill: none; }
  .svg-container .data-zoom-area {
    stroke: #B6CCE4;
    stroke-width: 1;
    fill: #B6CCE4;
    opacity: 0.4; }
  .svg-container .data-zoom {
    transform: translate(-5px, 0);
    fill: #B6CCE4;
    opacity: 0.4; }
  .svg-container .data-zoom-start-bar {
    transform: translate(-5px, 0);
    fill: #22C3F7; }
  .svg-container .data-zoom-end-bar {
    transform: translate(-5px, 0);
    fill: #22C3F7; }
  .svg-container .data-line {
    stroke: #22C3F7;
    stroke-width: 1;
    fill: none; }
  .svg-container .data-area {
    fill: #22C3F7;
    pointer-events: none; }
  .svg-container .data-bar {
    cursor: pointer;
    fill: #22C3F7; }
  .svg-container .data-scatter {
    fill: #22C3F7;
    opacity: 0.6; }
  .svg-container .map-background {
    stroke: #282E3C;
    fill: #2D3446; }
  .svg-container .main-map {
    stroke: #282E3C;
    fill: #353D52; }
  .svg-container .map-point .hollow-circle {
    fill: transparent;
    stroke: #22C3F7;
    stroke-width: 1; }
  .svg-container .map-point .solid-point {
    fill: #22C3F7;
    opacity: 0.5; }
  .svg-container .map-bg {
    width: 100%;
    height: 100%;
    fill: transparent; }
  .svg-container .percent-value {
    fill: #B6CCE4;
    font-size: 24px;
    height: 24px;
    transform: translateY(6px); }
  .svg-container .pie-text-value {
    fill: #fff;
    font-size: 24px;
    height: 24px;
    font-weight: bold; }
  .svg-container .pie-item-text {
    fill: #B6CCE4;
    font-size: 12px;
    height: 12px; }
  .svg-container .thread-text-container {
    fill: #8691AD;
    font-size: 12px; }
  .svg-container .progress-container {
    fill: none;
    stroke: #525E7F;
    stroke-width: 3px; }
  .svg-container .progress-fixed-text {
    fill: #B6CCE4;
    font-size: 12px;
    height: 12px;
    transform: translateY(5px);
    font-weight: bold; }
  .svg-container .bottom-mask {
    fill: #282E3D;
    width: 100%;
    opacity: 0.5; }
  .svg-container .relations-map-container path {
    stroke: #525E7F;
    cursor: pointer;
    fill: none; }
  .svg-container .relations-map-container circle {
    cursor: pointer; }
  .svg-container .line-hover-text {
    position: absolute;
    top: 40%;
    left: 40%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 12px;
    border-radius: 3px;
    white-space: nowrap;
    pointer-events: none;
    font-size: 12px;
    line-height: 18px;
    z-index: 998; }
    .svg-container .line-hover-text .line-hover-title {
      color: #B6CCE4;
      padding: 0;
      margin-bottom: 12px;
      font-size: 12px;
      padding-bottom: 8px; }
      .svg-container .line-hover-text .line-hover-title p {
        margin-top: 4px;
        padding-bottom: 12px;
        font-weight: normal; }
        .svg-container .line-hover-text .line-hover-title p span {
          display: inline-block;
          margin-left: 6px;
          background: #282E3C;
          border-radius: 18px;
          padding: 0 10px; }

/*# sourceMappingURL=charts.css.map */
